---
---
@media screen and (orientation: portrait) {
  :root {
  
    --project-margin-size: 5vw;
    --project-title-size:  7vw;
    /*--home-btn-font-size:  5vw;
    --home-btn-margin-size:  3vw;*/
  }
}
@media screen and (orientation: landscape) {
  :root {
   
    --project-margin-size: 1vh;
    --project-title-size:  7vh;
    /*--home-btn-font-size:  3vh;
    --home-btn-margin-size:  1vh;*/
  }
}

.header {
	font-size: var(--project-title-size);
  font-style: italic;
	//margin-top: var(--project-margin-size);
}
.container-main {
	text-align: center;
}
#programming-side-projects {
	justify-content: center;
  margin-bottom: 75px;
}

.menu-link-coding {
	background-color: #00000075;
}
