<div class="menu-wrap">
	<div class="menu-shadow"></div>
	<div class="menu-shadow ex1"></div>
	<div class="menu">
		<div class="submenu-text">
			<a class="menu-link menu-link-home" href="{{ site.baseurl }}/">
				<div class="menu-title"> Jose M. Cuellar </div>
			</a>

			<a class="menu-link menu-link-coding" href="{{ site.baseurl }}/programming">
				<div class="menu-text"> Software Projects </div>
			</a>
<!--
			<a class="menu-link menu-link-music" href="{{ site.baseurl }}/recordings">
				<div class="menu-text"> Music Recordings </div>
			</a>
-->
			<a class="menu-link menu-link-resume" href="{{ site.baseurl }}/assets/resume.pdf">
				<div class="menu-text"> Resume </div>
			</a>

			<a class="menu-link menu-link-resume" href="{{ site.baseurl }}/html/about.html">
				<div class="menu-text"> About </div>
			</a>
		</div>

	</div>
</div>