---
permalink: /
layout: default
title: Home
date:   2020-06-14 20:01:41 -0700
css:
- "home.css"
---

<div class="container-main">
	<div class="header"> WELCOME! </div>
	<div id="description-btn" class="btn" onclick="toggleDescription()"> About Me </div>
	<div class="description-wrap">
		
		<div>
			<img id="me" src="/assets/images/me.jpg"/>
		</div>
		<div id="description">
			{% for data in site.data.about %}
				<div class="title"> {{ data.section}}</div>
				{% if data.image %}
					{% for i in data.image %}
						<div >
							<img class="picture" src= {{ i }} />
						</div>
					{% endfor %}
				{%endif%}
				<p class="text">{{data.text}} </p>
			{% endfor %}
		</div>
	</div>
</div>

<script>
var desc_present = false;
function toggleDescription() {
	if (desc_present) {
		$('#description').addClass('diveout');
		$('#description').removeClass('idle');
		$('#me').addClass('diveout');
		$('#me').removeClass('idle');
		$('#description-btn').text('About Me');
		setTimeout(() => {
			$('#description').removeClass('diveout');

			$('#me').removeClass('diveout');
		}, 1000);
	}
	else {
		$('#description').addClass('divein');
		$('#description').removeClass('diveout');
		$('#me').addClass('divein');
		$('#me').removeClass('diveout');		
		$('#description-btn').text('Good Bye!');
		setTimeout(() => {
			$('#description').removeClass('divein');
			$('#description').addClass('idle');

			$('#me').removeClass('divein');
			$('#me').addClass('idle');
		}, 1000);
	}
	desc_present = !desc_present;
}
</script>